<a href="https://colab.research.google.com/github/Dinesh-Mane/K-Fold_Cross_Validation/blob/main/Cross_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **K-Fold Cross Validation**

Importing Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

Importing Models

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

Data Collection and Pre-Processing

In [3]:
ds = pd.read_csv("/content/heart.csv")

In [4]:
ds.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
ds.shape

(303, 14)

In [6]:
ds.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
ds['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

0 => Defective Heart<br>
1 => Healthy Heart

Splitting Features and Target

In [8]:
x= ds.drop('target',axis=1)
y= ds['target']

In [9]:
print(x)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [10]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

**Train Test split**

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=3)

In [12]:
print(x.shape, x_train.shape, x_test.shape)

(303, 13) (242, 13) (61, 13)

**Comparing the performance of the Models**

In [14]:
# list of models that we have to compare
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [19]:
def compare_models_train_test():
  for m in models:
    m.fit(x_train, y_train)
    test_data_prediction = m.predict(x_test)
    accuracy = accuracy_score(y_test, test_data_prediction)
    print('Accuracy score of the ', m, ' = ', accuracy)

In [20]:
compare_models_train_test()

Accuracy score of the  LogisticRegression(max_iter=1000)  =  0.7704918032786885
Accuracy score of the  SVC(kernel='linear')  =  0.7704918032786885
Accuracy score of the  KNeighborsClassifier()  =  0.6557377049180327
Accuracy score of the  RandomForestClassifier()  =  0.7704918032786885

# **Cross Validation**

Creating a function to compare the models

In [21]:
# list of models that we have to compare
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [22]:
def compare_models_cross_validation():
  for m in models:
    cv_score = cross_val_score(m, x, y, cv=5)
    mean_accuracy = sum(cv_score)/len(cv_score)
    mean_accuracy = round((mean_accuracy*100),2)
    
    print('Cross validation accuracies for ', m, ' = ', cv_score)
    print('Accuracy % of the ', m, mean_accuracy)
    print('----------------------------------------------------------')

In [23]:
compare_models_cross_validation()

Cross validation accuracies for  LogisticRegression(max_iter=1000)  =  [0.80327869 0.8852459  0.85245902 0.86666667 0.75      ]
Accuracy % of the  LogisticRegression(max_iter=1000) 83.15
----------------------------------------------------------
Cross validation accuracies for  SVC(kernel='linear')  =  [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Accuracy % of the  SVC(kernel='linear') 82.83
----------------------------------------------------------
Cross validation accuracies for  KNeighborsClassifier()  =  [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Accuracy % of the  KNeighborsClassifier() 64.39
----------------------------------------------------------
Cross validation accuracies for  RandomForestClassifier()  =  [0.83606557 0.91803279 0.78688525 0.81666667 0.78333333]
Accuracy % of the  RandomForestClassifier() 82.82
----------------------------------------------------------